<template>
	<report class="max-w-[1440px] relative left-0 right-0 m-auto">

		<!-- Filters Left Start -->
		<t-container slot="filters" gap-x="2">

			<t-navigation-dropdown label="Select Report Name" />

			<div class="w-[1px] bg-[#D3D3D9] h-[28px]"></div>

			<!-- <t-select t-layer="filter_group" t-filter:dropdown="groups" label="Groups" item-label="Groups" /> -->

			<t-multi-selector is-searchable t-layer="filter_orgs" t-filter:selected_items="orgs"
				label="Organizations" />

			<t-multi-v t-layer="m_filter_product_name" t-filter:selected_items="product_name" label="Products" />

			<t-filter-group label="More Filters" max-height="400px">
				<t-calendar-picker
                    t-filter:start_date="start_date"
                    t-filter:end_date='end_date'
                    t-filter:date_preset="date_preset"
                    t-layer="filter_calendar"
                    picker-mode="range"
                    item-label="Last Introduced"
                />
				<t-multi-v is-expanded t-layer="m_filter_project_name" t-filter:selected_items="project_name" item-label="Project Name" />
                <t-multi-selector is-expanded t-layer="m_filter_issue_severity" t-filter:selected_items="issue_severity" item-label="Issue Severity" />
                <t-multi-selector is-expanded t-layer="m_filter_project_type" t-filter:selected_items="project_type" item-label="Project Type" />
                <t-multi-selector is-expanded t-layer="m_filter_reachability" t-filter:selected_items="reachability" item-label="Reachability" />
                <t-multi-selector is-expanded t-layer="m_filter_issue_type" t-filter:selected_items="issue_type" item-label="Issue Type" />
                <t-multi-selector is-expanded t-layer="m_filter_ignored" t-filter:selected_items="ignored" item-label="Currently Ignored" />
                <t-multi-selector is-expanded t-layer="m_filter_status" t-filter:selected_items="status" item-label="Currently Present" />
                <t-multi-selector is-expanded t-layer="m_filter_autofixable" t-filter:selected_items="autofixable" item-label="Auto Fixable" />
                <t-multi-selector is-expanded t-layer="m_filter_exploit_maturity" t-filter:selected_items="exploit_maturity" item-label="Exploit Maturity" />

				<!-- <t-tags
                    t-layer='filter_cve'
                    item-label="CVE"
                    t-filter:selected_items="cve"
                    :is-label-capitalized="true"
                    is-searchable
                />   -->
                
                <t-tags
                    t-layer='filter_cwe'
                    item-label="CWE"
                    t-filter:selected_items="cwe"
                    :is-label-capitalized="true"
                    is-searchable
                />  
                <t-tags
                    t-layer='filter_tags'
                    item-label="Project Tags"
                    t-filter:selected_items="tags"
                    :is-label-capitalized="true"
                    is-searchable
                />
                
                <t-tags
                    t-layer='m_filter_project_criticality'
                    item-label="Project Criticality"
                    t-filter:selected_items="criticality"
                    :is-label-capitalized="true"
                    is-searchable
                /> 

                <t-tags
                    t-layer='m_filter_project_environment'
                    item-label="Project Environment"
                    t-filter:selected_items="environment"
                    :is-label-capitalized="true"
                    is-searchable
                /> 

                <t-tags
                    t-layer='m_filter_project_lifecycle'
                    item-label="Project Lifecycle"
                    t-filter:selected_items="lifecycle"
                    :is-label-capitalized="true"
                    is-searchable
                /> 
			</t-filter-group>


		</t-container>
		<!-- Filters Left End -->

		<!-- Filters Right Start -->
		<t-container slot="filters" gap-x="2">
			<t-pdf-export />
            <t-pdf-preview-button />
		</t-container>
		<!-- Filters Right End -->

		<!-- Mid Section Start -->
		<t-container slot="mid" is-full-width is-justify-between class="pb-5">
			<div style="width: 48.5%" class="base-heading text-xl font-normal text-[#211F47] leading-6">
				<!-- <org-name t-filter:param="orgs" t-layer="selected_org" /> -->
				<group-name t-filter:param="groups" t-layer="selected_group" />
			</div>
			<t-container gap-x="2" class="w-full">
				<span  class="base-heading text-xl font-normal text-[#211F47] leading-6">Issues by</span>
				<t-select t-layer="filter_layer_type" t-filter:dropdown="issue_by" label="Issues By"
					item-label="Issues_by" />
			</t-container>
		</t-container>

		<t-issues-big-number-group t-layer="all_severity_issues" slot="mid" />
		<!-- Beginning of filter testing. comment out row above to test this section 
      filter_layer_type[0].OPTION.value
      filter_layer_type.OPTION.value
      row.OPTION.value
      -->

     <!-- <value_filter_layer_type>
        <div v-if="value_filter_layer_type[0].option.rendered == 'Severity'">
            <t-issues-big-number-group t-layer="all_severity_issues" slot="mid" />
        </div>
        <div v-else-if="value_filter_layer_type[0].option.rendered == 'Product Name'" >
            <t-issues-big-number-group t-layer="all_product_numbers" slot="mid" /> 
        </div>
        <div v-else >
            <t-issues-big-number-group t-layer="all_severity_issues" slot="mid" />
        </div>
    </value_filter_layer_type>  -->


		<!-- End of filter testing -->

		<!-- Mid Section End -->

		<t-container class="flex flex-wrap justify-between" gap-y="2">
			<h2 class="text-xl	font-normal">Issue details</h2>
			<t-container gap-x="2" gap-y="2" class="flex-wrap">
				<!-- The t-select (below) is commented out, because it is not doing anything -->
				<!-- it will be uncommented, when the grouped version of the table is ready -->
				<!-- The reason is so that there are no un-responsive elements on the page for our demos -->
				<!-- <t-select t-layer="table_group_by" t-filter:dropdown="group_by" label="Group by" item-label="test"/> -->
				<t-csv-export t-layer="issue_table" />
			</t-container>
		</t-container>

		<!-- Layers Start -->
		<TTable full_width t-layer="issue_table" :can-search="false" :is-header-fixed="true" :can-sort="false"
			sort-direction="desc" :canPageServer="true" :exludeFromColumns="['ISSUE_TYPE','CVE','PROBLEM_ID']">
			<t-column header=" " id-or-name="ISSUE_SEVERITY">
				<IssueSeverityIcon :severity="value" />
			</t-column>
			<t-column header="SCORE" id-or-name="PRIORITY_SCORE">
				{{ parseInt(rendered_value, 10) }}
			</t-column>
			<t-column header="ISSUE" id-or-name="PROBLEM_TITLE" >
                <div class="text-[#145DEB] text-sm font-medium leading-[15px] tracking-[0.1px]">{{row.ISSUE_TYPE.value}}</div>
				<span v-if="row.ISSUE_TYPE.value == 'Vulnerability'">
    				<TUrl :url="'https://security.snyk.io/vuln/'+row.PROBLEM_ID.value" target="_blank"> {{rendered_value}} </TUrl>
				</span>
				<span v-else>
					{{rendered_value}}
				</span>
            </t-column> 
			<t-column header="IDENTIFIERS" id-or-name="CWE">
				<div class="text-[#145DEB] text-sm font-normal">
					{{ JSON.parse(row.CWE.value).concat(JSON.parse(row.CVE.value)).join() }}
				</div>
			</t-column>
			<t-column header="PROJECT" id-or-name="PROJECT_NAME" />
			<t-column header="EXPLOIT MATURITY" id-or-name="EXPLOIT_MATURITY">
				<span v-if="rendered_value">
                    {{ rendered_value.split('-').map((w) => _.capitalize(w)).join(' ') }}
                </span>
			</t-column>
			<t-column header="AUTO FIXABLE" id-or-name="AUTOFIXABLE">
				<span class="flex text-sm text-normal text-[#727184] leading-[17px]">
					<CheckOrX :value="value !== 'Not Auto Fixable'" />
					<div>{{ value }}</div>
				</span>
			</t-column>
			<t-column header="LAST INTRODUCED" id-or-name="LAST_INTRODUCED">
				<date-formatter :date="value" />
			</t-column>
			<t-column header="STATUS" id-or-name="IS_CURRENTLY_PRESENT">
				<open-or-fixed :isOpen="value" />
			</t-column>
			<t-column header="PRODUCT" id-or-name="PRODUCT_NAME" />
		</TTable>
		<!-- Layers End -->

	</report>
</template>
